<p>mobile works!</p>

<table class="table">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">mobilename</th>
        <th scope="col">model</th>
        <th scope="col">year</th>
        <th scope="col">button</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let i of mobiles1">
        <th scope="row">{{i.id}}</th>
        <td>{{i.mobilename}}</td>
        <td>{{i.model}}</td>
        <td>{{i.year}}</td>
        <button class="" (click)="next1(i.id)">next</button>
    </tr>

    </tbody>
  </table>
  <!-- <app-display [display]="mobiles1"></app-display> -->