<h2>Hi this is angular application </h2>

<!-- <app-home></app-home> -->
<!-- <app-main></app-main> -->
<!-- pipes topic  -->

<!-- <app-pipe></app-pipe> -->
<!-- <app-directives></app-directives> -->
<!-- <app-parent></app-parent> -->
<!-- <app-student></app-student> -->
 <!-- <app-employee></app-employee> -->
<!-- <app-student></app-student>  -->
<!-- <app-dataapi></app-dataapi> -->
<!-- <app-observable></app-observable> -->
<button routerLink="home">home</button>
<button routerLink="employee">employee</button>
<button routerLink="pipe">pipe</button>
<button routerLink="nestedfirst">nestedfirst </button>
<button routerLink="mobile">mobile</button>
<button routerLink="template">template</button>
<button routerLink="reactiveform">reactive</button>
<button routerLink="/lazyloading/item">lazy loading</button>
<button routerLink="user/admin">admin</button>
<router-outlet></router-outlet>